# Binaries for programs and plugins
.DS_Store
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
bin
*.log
uploads
extracts
go_build_translate_server
logs
db.sqlite
outputs
.idea
keystore
*.tar
data
*.rpm
*.db
components
translate-server
mysql_db
.f12fb6e67a3071c6ff9afdb8cb931809b13cab084d86f4b755bcc7c2de70f74e
.5481ddfe734b3bfabafaf845c8c770619807e085b24eacb9384a300b98a8c9a3